/JavaProgramsForShortcuts/ImageToProcessing/nbproject/private/
/JavaProgramsForShortcuts/ImageToProcessing/build/
/JavaProgramsForShortcuts/ImageToProcessing/dist/
/JavaProgramsForShortcuts/ImageToProcessingCode/ImageToProcessing/dist/
/JavaProgramsForShortcuts/ImageToProcessingCode/ImageToProcessing/build/
/JavaProgramsForShortcuts/ImageToProcessingCode/ImageToProcessing/nbproject/private/